- content_for :sidebar do
  .sidebar
    .content
      %h2= t('tenon.users.users')
      = link_to t('tenon.users.new_user'), new_user_path, class: 'btn btn-block btn-primary'

= form_for @user, :builder => Tenon::FormBuilder do |f|
  = error_messages_for :user

  .fields.large
    .form-group
      = f.text_field :email, :autocomplete => "off"

    .form-group.bordered
      - if @user.persisted?
        = f.super_label :password, t('tenon.users.new_password')
      - else
        = f.super_label :password
      = f.password_field :password, :autocomplete => "off"
    .form-group
      - if @user.persisted?
        = f.super_label :password_confirmation, t('tenon.users.confirm_new_password')
      - else
        = f.super_label :password_confirmation, t('tenon.users.confirm_password')
      = f.password_field :password_confirmation

  .fields.small
    %h4.box-label= t('tenon.users.roles')
    .explanation= t('tenon.users.roles_define_a_users_abilities')
    .box
      .form-group.inline
        - @roles.each do |role|
          - unless (role.title == "Super Admin" && !current_user.is_super_admin?) || (role.title == "Admin" && !current_user.is_admin?)
            = check_box_tag('user[role_ids][]', role.id, @user.role_ids.include?(role.id), class: 'tn-checkbox-right', id: "role_id_#{role.id}")
            %label{ for: "role_id_#{role.id}" }= role.title
            .spacer

    %h4.box-label= t('tenon.common.actions')
    .box
      .content
        = f.check_box :approved, class: 'tn-checkbox-right'
        = f.super_label :approved, t('tenon.common.approved')

      .content
        = f.submit t('tenon.common.save'), :class => 'btn btn-block btn-comp', data: { disable_with: t('tenon.common.please_wait') }

      - if @user.persisted?
        %hr
        .content
          = link_to t('tenon.common.delete'), @user, :data => { :method => :delete, :confirm => t('tenon.common.are_you_sure') }, :class => 'delete-link'
