%ul.main-nav__list
  = nav_item 'Asset Library', assets_path, 'photo_library'
  = nav_item 'Posts', posts_path, 'description', active: ['post_categories'].include?(controller_name) do
    = nav_item 'Categories', post_categories_path, '', active: ['post_categories'].include?(controller_name), sub: true
  = nav_item 'Users', users_path, 'supervisor_account'
  = nav_item 'Settings', settings_path, 'settings'
