%ul
  = nav_item 'Asset Library', assets_path, 'image'
  = nav_item 'Pages', pages_path, 'document'
  = nav_item 'Posts', posts_path, 'document-text', active: ['post_categories'].include?(controller_name) do
    %li= link_to 'Categories', post_categories_path
    %li= link_to 'Comments', comments_path
  = nav_item 'Users', users_path, 'person-stalker'
  = nav_item 'Events', events_path, 'calendar'
  = nav_item 'Galleries', galleries_path, 'images'
  = nav_item 'Contacts', contacts_path, 'email'
  = nav_item 'Redirects', redirects_path, 'arrow-swap'
  = nav_item 'Settings', settings_path, 'gear-a'
