.sidebar-container
  .sidebar
    .content
      %h2 Contacts

    %h4 Filter
    %nav.list-toggles
      %ul
        %li
          = link_to(contacts_path, :class => 'record-list-updater', 'data-clear-record-list-params' => true) do
            All
            %span.count= @counts[:all]

        %li
          = link_to(url_for(type: 'unread'), class: 'record-list-updater') do
            Unread
            %span.count= @counts[:unread]

        %li
          = link_to(url_for(type: 'read'), class: 'record-list-updater') do
            Read
            %span.count= @counts[:read]

        %li
          = link_to(url_for(type: 'unreplied'), class: 'record-list-updater') do
            Awaiting reply
            %span.count= @counts[:unreplied]

        %li
          = link_to(url_for(type: 'replied'), class: 'record-list-updater') do
            Replied
            %span.count= @counts[:replied]
