- content_for :sidebar do
  .sidebar
    .content
      %h2 Galleries
      = link_to "New Gallery", new_gallery_path, class: 'btn btn-block btn-primary'
%header
  %h1 Galleries

  .tools
    = render "tenon/shared/section_header/sidebar_toggle"

    .header-button
      = link_to '#', id: 'quick-search-toggle' do
        .header-icon= fa_icon('fw search')

.toolbox
  = render "tenon/shared/section_header/quick_search", record_list: '#galleries'

.main-content
  %ul#galleries.record-list{data: {records: {url: galleries_path(format: 'json'), template: 'tenon/templates/galleries/gallery_row', name: 'gallery'}}}

  = link_to "Load More Galleries", '#', :class => 'btn btn-comp infinite-loader', 'data-record-list' => '#galleries'
