%section
  %a.scroll-target{name: 'typography__inline'}
  %h3.color-black Inline

  .panel.panel--padded
    - ['em', 'strong', 'a href="#"'].each do |i|
      %p= "The <#{i}>quick brown fox</#{i}> jumps over the <#{i}>lazy dog.</#{i}>".html_safe
      %code= "The <#{i}>quick brown fox</#{i}> jumps over the <#{i}>lazy dog.</#{i}>"
