%section
  %a.scroll-target{name: 'typography__ulists'}
  %h3.color-black Unordered lists

  .panel.block
    %ul
      %li List item
      %li List item
      %li List item
    %code
      %p= "%ul"
      %p
        &nbsp;&nbsp;
        = "%li List item "
      %p
        &nbsp;&nbsp;
        = "%li List item "
      %p
        &nbsp;&nbsp;
        = "%li List item "

%section
  %a.scroll-target{name: 'typography__olists'}
  %h3.color-black Ordered lists
  .panel.block
    %ol
      %li List item
      %li List item
      %li List item
    %code
      %p= "%ol"
      %p
        &nbsp;&nbsp;
        = "%li List item "
      %p
        &nbsp;&nbsp;
        = "%li List item "
      %p
        &nbsp;&nbsp;
        = "%li List item "
