%section
  %a.scroll-target{name: 'typography__styles'}
  %h3.color-black Style class helpers
  %p Class helpers that can also @extend it in a Sass file.

  .panel.block
    - [3, 4, 7].each do |s|
      %p{class: "font-n#{s}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<p class: 'font-n#{s}'>The quick brown fox jumps over the lazy dog.</p>"
        %br/
        %p
          %span.color-primary Sass @extend:
          = "@extend .font-n#{s};"

      %p{class: "font-i#{s}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<p class: 'font-i#{s}'>The quick brown fox jumps over the lazy dog.</p>"
        %br/
        %p
          %span.color-primary Sass @extend:
          = "@extend .font-i#{s};"
