= autosaving_form_for @<%= singular_name %> do |f|
  .toolbar.bg-color-primary-dk10
    = render 'tenon/shared/breadcrumbs'
    .actions
      - if can?(:publish, @<%= singular_name %>)
        %button.action-btn.btn.btn-flat.submit{ data: { disable_with: "Please wait..." } } Save

      %a.action-icon.dropdown-button{ href: '#!', data: { activates: 'form-dropdown'} }
        = i('more_vert')

      %ul.dropdown#form-dropdown
        - if can?(:create, Tenon::ItemVersion)
          = render 'tenon/shared/draft_controls', obj: @<%= singular_name %>

        - if @<%= singular_name %>.persisted?
          %li.dropdown__divider
          %li.dropdown__item
            = link_to @<%= singular_name %>, data: { method: :delete, confirm: 'Are you sure you want to delete this?' }, class: 'dropdown__action action-icon delete-link' do
              = i('delete')
              %span Delete

  %main
    = error_messages_for :<%= singular_name %>

    .form-label Text Fields
    .panel.block
<% text_fields.each do |field| -%>
      = f.text_field :<%= field.name %>
<% end -%>

    .form-label Assets
    .panel.block
<% assets.each do |field| -%>
      = f.asset :<%= field.name %>
<% end -%>

    .form-label Text Areas
    .panel.block
<% text_areas.each do |field| -%>
      = f.text_area :<%= field.name %>
<% end -%>

<% if has_seo? -%>
    = render "tenon/shared/seo_fields", :f => f
<% end -%>

<% unless [collections, booleans, timestamps].flatten.empty? -%>
    .form-label Details
<% collections.each do |c| %>
    .panel.block
      = f.super_label :<%= c %>, '<%= c.titleize %>'
      = f.collection_select :<%= c %>_id, @<%= c.pluralize %>, :id, :title, prompt: '--'
<% end -%>

<% timestamps.each do |field| -%>
      = f.date_time_picker :<%= field.name %>
<% end -%>

<% booleans.each do |field| %>
      = f.check_box :<%= field.name %>
<% end -%>

<% numbers.each do |field| %>
      = f.text_field :<%= field.name %>
<% end -%>

<% end -%>

<% if attributes.map(&:name).include? 'publish_at' -%>
    .panel.block
      = f.date_time_picker :publish_at, label: 'Publish Date'
<% end -%>

  .spacer
