- content_for :sidebar do
  .sidebar
    .content
      %h2= t('tenon.posts.posts')

    %h4= t('tenon.common.edit_options')
    %nav
      %ul
        %li.active= link_to t('tenon.posts.post_content'), '#details', data: { toggle: 'tab' }
        %li= link_to t('tenon.common.search_optimization'), '#seo', data: { toggle: 'tab' }

    = i18n_language_nav(:'tenon/posts')

    = render "tenon/shared/posts_nav"

= autosaving_form_for @post do |f|
  = error_messages_for :post
  .fields.large.tabs
    .tab-pane.active#details
      .form-group
        = f.text_field :title, :explanation => t('tenon.posts.give_your_post_a_title')

      .form-group
        = f.rich_text :excerpt

      .form-group
        = f.tenon_content :content

    .tab-pane#seo= render "tenon/shared/seo_fields", :f => f

  .fields.small
    - unless @categories.blank?
      %h4.box-label= t('tenon.posts.categories')
      .box
        .form-group.inline
          = f.super_label :post_categories, t('tenon.posts.categories')
          = f.select :post_category_ids, @categories.map { |c| [c.title, c.id] }, {}, { multiple: true }

    %h4.box-label= t('tenon.posts.publish_your_post')
    .box
      .form-group.bordered
        = f.super_label :user_id, t('tenon.posts.author')
        = f.collection_select :user_id, @users, :id, :email, { :include_blank => t('tenon.posts.no_author') }

      .form-group.inline.bordered
        = f.check_box :allow_comments, class: 'tn-checkbox-right'
        = f.super_label :allow_comments, t('tenon.posts.allow_comments')

      .form-group
        = f.text_field :publish_at, label: t('tenon.common.publish_date'), data: { behaviour: 'datetime-picker' }, placeholder: '--'

      .row.content
        - if can?(:publish, @post)
          %button.btn.btn-comp.btn-block.submit{ data: { disable_with: t('tenon.common.please_wait') } }= t('tenon.common.save')

        - if can?(:create, Tenon::ItemVersion)
          = save_draft_button(@post)
          .last-autosave

      %hr
      .content
        = clear_draft_link if params[:version]
        = load_draft_link(@post)
        - if @post.persisted?
          = link_to t('tenon.common.delete'), @post, :data => { :method => :delete, :confirm => t('tenon.common.are_you_sure') }, :class => 'delete-link'
