%p
  = t('tenon.contact_mailer.new_contact_request_received')
  = t('tenon.contact_mailer.reply_to_this_email')

%p{:style => "text-align:center"} --

%p
  %strong #{t('tenon.contact_mailer.from')}:
  = @contact.name

%p
  %strong #{t('tenon.contact_mailer.email')}:
  = @contact.email

= simple_format(@contact.content)
