%h4.box-label= t('tenon.settings.contact_details')
.box
  .form-group.bordered
    %label= t('tenon.settings.contact_email')
    .explanation= t('tenon.settings.destination_email_address_for_alerts')
    = text_field_tag "settings[contact_email]", Tenon::MySettings.contact_email, :placeholder => "--"

  .form-group.bordered
    %label= t('tenon.settings.sender_email')
    .explanation= t('tenon.settings.from_email_address_for_alerts')
    = text_field_tag "settings[from_email]", Tenon::MySettings.from_email, :placeholder => "--"

%h4.box-label= t('tenon.settings.comment_notifications')
.box
  .form-group.inline.bordered
    = check_box_tag "settings[comment_email]", 1, Tenon::MySettings.comment_email, class: 'tn-checkbox-right'
    %label{ for: 'settings_comment_email' }= t('tenon.settings.comment_email')
    .explanation= t('tenon.settings.do_you_want_to_receive')

