.form-group
  %label= t('tenon.settings.site_name')
  = text_field_tag 'settings[site_title]', Tenon::MySettings.site_title

.form-group
  %label= t('tenon.settings.site_domain')
  = text_field_tag 'settings[site_url]', Tenon::MySettings.site_url

.form-group
  %label= t('tenon.settings.google_analytics_code')
  .explanation= link_to t('tenon.settings.create_a_new_profile_here'), 'https://www.google.com/analytics/settings/add_profile?scid=16153080', target: '_'
  = text_area_tag 'settings[google_analytics]', Tenon::MySettings.google_analytics, style: 'height: 180px;'
