.form-group
  %label= t('tenon.settings.meta_keywords')
  .explanation= t('tenon.settings.these_meta_keywords_will')
  = text_area_tag "settings[seo_keywords]", Tenon::MySettings.seo_keywords

.form-group
  %label= t('tenon.settings.meta_description')
  .explanation= t('tenon.settings.this_description_will_show_up')
  = text_area_tag "settings[seo_description]", Tenon::MySettings.seo_description

