- content_for :scripts do
  :javascript
    $(function () {
      Tenon.features.settings.initVideoFeeds();
    });

.inner-form.no-top.with-normal-sidebar
  .column.side
    %h3 Video Source
    .explanation What service would you like to pull videos from?
    = select(:settings, :video_feed_source, VideoFeed.sources.collect{|f| [f,f]}, {:include_blank => true})


  .column.main.last{:style => "height:300px;"}
    %h3 Select a video source on the left
    %hr/

    #Youtube.hide
      %h3 Youtube Channel
      .explanation What is the name of your Youtube channel?
      = text_field_tag "settings[youtube_channel]", MySettings.youtube_channel, :class => "title"
      .spacer

    #Vimeo.hide
      %h3 Vimeo Username/ID
      .explanation
        Find your username/ID in your address bar (see below).
        = image_tag("tenon/vimeo-address-bar.jpg", :style => "display:block;margin:10px 0px;")
        And type it in below:
      = text_field_tag "settings[vimeo_channel]", MySettings.vimeo_channel, :class => "title"
      %hr
      %h3 Vimeo feed type
      .explanation Do you want to pull in your Channel feed or your Likes
      = select(:settings, :vimeo_feed_type, VideoFeed.vimeo_types.collect{|f| [f,f]})
      .spacer

  .spacer