= render 'tenon/shared/burger'

.account
  = link_to '#!', class: 'account-notifications action-icon dropdown-button', data: { activates: 'notification-dropdown'} do
    %i.icon.ion-android-notifications-none

  %ul.dropdown-content#notification-dropdown
    %li
      = link_to '#' do
        %i.icon.ion-android-notifications
        Notifications!
    %li
      = link_to '#' do
        %i.icon.ion-android-calendar
        Event Alert
    %li
      = link_to '#' do
        %i.icon.ion-android-alarm-clock
        Alarm Alert

  = link_to '#!', class: 'account-avatar dropdown-button', data: { activates: 'current-user-dropdown'} do
    -# Users initial?
    A
    = image_tag('tenon/icon-57x57.png')

  %ul.dropdown-content#current-user-dropdown
    %li
      = link_to '#' do
        %i.icon.ion-person
        Account
    %li
      = link_to '#' do
        %i.icon.ion-ios-paw
        Something
    %li
      = link_to '#' do
        %i.icon.ion-android-exit
        Logout

%nav.util-nav
  .util-nav-context
    %p= @context_title

  .util-nav-content
    = yield :util_nav
