= render 'tenon/shared/burger'

.account
  = link_to '#!', class: 'account-notifications action--icon dropdown-button', data: { activates: 'notification-dropdown'} do
    = i('notifications_none')

  %ul.dropdown-content#notification-dropdown
    %li.dropdown-label Notifications
    %li.divider
    %li
      = link_to '#' do
        = i('notifications_active')
        Active Icon
    %li
      = link_to '#' do
        = i('notifications')
        Inactive Icon
    %li
      = link_to '#' do
        = i('notifications_none')
        None Icon

  = link_to '#!', class: 'account-avatar action--icon dropdown-button', data: { activates: 'current-user-dropdown'} do
    = i('face')

  %ul.dropdown-content#current-user-dropdown
    %li
      = link_to '#' do
        = i('person_outline')
        Account
    %li
      = link_to '#' do
        = i('accessible')
        Accessibility
    %li
      = link_to destroy_user_session_path, method: :delete do
        = i('exit_to_app')
        Logout

%nav.util-nav
  .util-nav-context
    %p= @context_title

  .util-nav-content
    = yield :util_nav_content
