.util-nav
  = link_to '#!', class: 'util-nav__action-icon dropdown-button', data: { activates: 'notifications-dropdown'} do
    .action-icon= i('notifications_none')

  %ul.dropdown-content#notifications-dropdown
    %li.dropdown-label Notifications
    %li.divider
    %li
      = link_to '#' do
        = i('notifications_active')
        Active Icon
    %li
      = link_to '#' do
        = i('notifications')
        Inactive Icon
    %li
      = link_to '#' do
        = i('notifications_none')
        None Icon

  = link_to '#!', class: 'util-nav__action-icon dropdown-button', data: { activates: 'account-dropdown'} do
    .action-icon= i('face')

  %ul.dropdown-content#account-dropdown
    %li
      = link_to '#' do
        = i('person_outline')
        Account
    %li
      = link_to '#' do
        = i('accessible')
        Accessibility
    %li
      = link_to destroy_user_session_path, method: :delete do
        = i('exit_to_app')
        Logout
