.flash.flash-notice
  %p= t('tenon.item_versions.you_are_viewing_a_draft')

  %p= t('tenon.item_versions.auto_saving_is_disabled')

  %p
    %small
      = t('tenon.item_versions.draft')
      - unless @item_version.title.blank?
        %strong "#{@item_version.title}"
      #{t('tenon.item_versions.was_created_on')} #{@item_version.created_at.strftime('%m/%d/%Y')} #{t('tenon.common.at')} #{@item_version.created_at.strftime('%l:%M %p')}
      #{t('tenon.item_versions.by')} #{@item_version.user.try(:email)}
  =link_to fa_icon('times'), '#', id: 'flash-dismiss'
