!!! Strict
%html{ lang: 'en' }
  %head
    = csrf_meta_tag
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ content: 'initial-scale=1,width=device-width,user-scalable=no', name: 'viewport' }
    = platform_hints(Tenon.config.primary_color) if Tenon.config.primary_color.present?

    %title
      = @page_title + " | " if @page_title
      = Tenon::MySettings.site_title.present? ? Tenon::MySettings.site_title : 'Tenon'

    = stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag 'tenon/tenon'
    = javascript_include_tag '/ckeditor/ckeditor'
    = javascript_include_tag 'tenon/application'

  %body{data: { controller: params[:controller], action: params[:action] } }
    = flash_messages

    = render 'tenon/shared/version_warning' if @item_version
    = render 'tenon/shared/burger'
    = render 'tenon/shared/util_nav', modifier: 'util-nav--in-toolbar'

    .main-nav-overlay{ data: { target: 'main-nav' } }
    #main-nav.main-nav-drawer.drawer
      %p.app-info
        = link_to '/tenon', class: 'app-info__link' do
          = image_tag('tenon/tenon_icon.png', class: 'app-info__logo')
          = Tenon::MySettings.site_title
      = render 'tenon/shared/main_nav'


    = yield
