!!! Strict
%html{ :lang => "en" }
  %head
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %meta{ :content => 'initial-scale=1,width=device-width,user-scalable=no', :name => 'viewport' }
    = platform_hints(Tenon.config.primary_color) if Tenon.config.primary_color.present?

    %title
      = @page_title + " | " if @page_title
      = Tenon::MySettings.site_title.present? ? Tenon::MySettings.site_title : 'Tenon'

    = stylesheet_link_tag 'tenon/tenon'
    = javascript_include_tag '/ckeditor/ckeditor'
    = javascript_include_tag 'tenon/tenon_manifest'

  %body{data: { controller: params[:controller], action: params[:action] } }
    .main-nav
      .current-user
        = current_user.email
      = render 'tenon/shared/main_nav'
    = render 'tenon/shared/util_nav'
    .nav-pusher
      = yield
      = flash_messages
      = render 'tenon/shared/version_warning' if @item_version
