!!! Strict
%html{ lang: 'en' }
  %head
    = csrf_meta_tag
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ content: 'initial-scale=1,width=device-width,user-scalable=no', name: 'viewport' }
    = platform_hints(Tenon.config.primary_color) if Tenon.config.primary_color.present?

    %title
      = @page_title + " | " if @page_title
      = Tenon::MySettings.site_title.present? ? Tenon::MySettings.site_title : 'Tenon'

    = stylesheet_link_tag '//fonts.googleapis.com/icon?family=Material+Icons'
    = javascript_include_tag '/ckeditor/ckeditor'
    = javascript_include_tag 'tenon/application'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js'
    - if Rails.env.development?
      = javascript_include_tag 'http://localhost:9999/bundle.js'

  %body{data: { controller: params[:controller], action: params[:action] } }
    = flash_messages

    = render 'tenon/shared/version_warning' if @item_version
    = render 'tenon/shared/burger'
    = render 'tenon/shared/util_nav', modifier: 'util-nav--in-toolbar'

    .main-nav-overlay{ data: { target: 'main-nav' } }
    #main-nav.main-nav-drawer.drawer
      %p.app-info
        = link_to '/tenon', class: 'app-info__link' do
          = image_tag('tenon/tenon_icon.png', class: 'app-info__logo')
          = Tenon::MySettings.site_title

      .app-info.app-info--account
        = link_to '#', class: 'app-info__link app-info__link--dropdown-button', data: { dropdown_activate: true } do
          .app-info__avatar= i('person')
          = current_user.email
        = render 'tenon/shared/account_dropdown'

      = render 'tenon/shared/main_nav'


    = yield
