!!! Strict
%html{ :lang => "en" }
  %head
    = csrf_meta_tag
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %meta{ :content => 'initial-scale=1,width=device-width,user-scalable=no', :name => 'viewport' }
    = platform_hints(Tenon.config.primary_color) if Tenon.config.primary_color.present?

    %title
      = @page_title + " | " if @page_title
      = Tenon::MySettings.site_title.present? ? Tenon::MySettings.site_title : 'Tenon'

    = stylesheet_link_tag 'tenon/tenon'
    = javascript_include_tag '/ckeditor/ckeditor'
    = javascript_include_tag 'tenon/tenon_manifest'

  %body{data: { controller: params[:controller], action: params[:action] } }
    .main-nav
      .current-user
        = current_user.email
      = render 'tenon/shared/main_nav'
    = render 'tenon/shared/util_nav'
    .nav-pusher
      = flash_messages
      = yield
      = render 'tenon/shared/version_warning' if @item_version

      -# %w( black white grey primary secondary accent).each do |color|
        .row
          .left #{color}:
          .left{style: 'height:30px;width:100px;', class: "bgcolor-#{color}"}
        .row
          .left Lighten:
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-lt10"} lt10
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-lt20"} lt20
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-lt30"} lt30
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-lt40"} lt40
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-lt50"} lt50
        .row
          .left Darken:
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-dk10"} dk10
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-dk20"} dk20
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-dk30"} dk30
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-dk40"} dk40
          .left{style: 'height:30px; padding:0 10px;', class: "bgcolor-#{color}-dk50"} dk50
        %br/
