!!! Strict
%html{ lang: 'en' }
  %head
    = csrf_meta_tag
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ content: 'initial-scale=1,width=device-width,user-scalable=no', name: 'viewport' }
    = platform_hints(Tenon.config.primary_color) if Tenon.config.primary_color.present?

    %title
      = @page_title + " | " if @page_title
      = Tenon::MySettings.site_title.present? ? Tenon::MySettings.site_title : 'Tenon'

    = yield :pre_scripts
    = render 'tenon/shared/assets'
    = yield :post_scripts

  %body{data: { controller: params[:controller], action: params[:action] } }
    = flash_messages

    = render 'tenon/shared/burger'
    = render 'tenon/shared/util_nav', modifier: 'util-nav--in-toolbar'

    .main-nav-overlay{ data: { target: 'main-nav' } }
    #main-nav.main-nav-drawer.drawer
      = render 'tenon/shared/app_info'

      .app-info.app-info--account
        = link_to '#', class: 'app-info__link app-info__link--dropdown-button', data: { dropdown_activate: true } do
          .app-info__avatar= i('person')
          = current_user.email
        = render 'tenon/shared/account_dropdown'

      = render 'tenon/shared/main_nav'


    = yield
