- content_for :sidebar do
  .sidebar
    .content
      %h2 Pages
      = link_to "New Page", new_page_path, class: 'btn btn-block btn-primary'

%header
  .container
    %h1 Pages

    .tools
      = render "tenon/shared/section_header/quick_search", record_list: '#pages'
      = link_to '#', class: 'btn btn-comp', id: 'sidebar-toggle' do
        %i.fa.fa-fw.fa-caret-square-o-down

    .list-sort.header-tool.header-menu
      = link_to '#', class: 'toggle-sort-list' do
        Sort By
        %i.fa.fa-caret-down

      %ul.list-sort-options
        %li= link_to current_user.email, edit_user_path(current_user)
        %li= link_to current_user.email, edit_user_path(current_user)
        %li= link_to current_user.email, edit_user_path(current_user)

  .spacer

.main-content
  .container
    %ul#pages.record-list.sortable.nested{data: {records: {url: pages_path(format: 'json'), template: 'tenon/templates/pages/page_row', name: 'page', nested: 'true'}, :'reorder-path' => reorder_pages_path}}
