- content_for :sidebar do
  .sidebar
    .content
      %h2 Notifications
      - unless @warnings.empty?
        %h3 Some items need your attention!

        - @warnings.each do |warning|
          .notification= warning

%header
  %h1 Welcome to Tenon

  .tools
    = render "tenon/shared/section_header/sidebar_toggle"

.main-content
  #dashboard-callouts.container
    // change the count to test various quantities of callouts - eimaj
    - @tenon_callouts.each do |callout|
      .callout
        %h4.title
          %i{class: "fa fa-fw fa-#{callout.icon}"}
          = callout.title

        .callout-content= raw callout.content
        - if callout.uri.present?
          %p
            = link_to callout.button_text, callout.uri, class: "btn btn-primary btn-block", target: ("_" if callout.new_window)
