%main
  .login.inner6
    .panel.panel--block
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row
          = image_tag('tenon/client-logo.png', class: 'login-logo')
          %h3.login-title= Tenon::MySettings.site_title

        - unless flash[:alert].blank?
          .flash= flash[:alert]

        = input_block 'Email Address' do
          = f.email_field :email, placeholder: 'user@example.com', autofocus: true, class: 'input-block__text-field'

        = input_block 'Password' do
          = f.password_field :password, placeholder: 'password', autocomplete: 'off', class: 'input-block__text-field'

        .input-block
          = f.submit 'Login', class: 'btn'

        .input-block
          .input-block__inline
            = f.check_box :remember_me, class: 'input-block__check-box'
            .input-block__check-box-icon.input-block__checked-icon
              = i('check')
            = f.label 'Remember me?', class: 'input-block__label--inline'


        .row
          = render 'devise/shared/links'
