= autosaving_form_for @redirect do |f|
  .toolbar.bg-color-primary-dk10
    = render 'tenon/shared/breadcrumbs'
    .actions
      - if can?(:publish, @redirect)
        %button.action-btn.btn.btn-flat.submit{ data: { disable_with: "Please wait..." } } Save

      %a.action-icon.dropdown-button{ href: '#!', data: { activates: 'form-dropdown'} }
        = i('more_vert')

      %ul.dropdown-content#form-dropdown
        - if can?(:create, Tenon::ItemVersion)
          = render 'tenon/shared/draft_controls', obj: @redirect

        - if @redirect.persisted?
          %li
            = link_to @redirect, data: { method: :delete, confirm: 'Are you sure you want to delete this?' }, class: 'delete-link' do
              = i('delete')

  %main
    = error_messages_for :redirect

    .panel.block
      = i('warning')
      Redirects will be run when a page cannot be found. It will not redirect an existing page.

    = f.text_field :in, required: true, label: 'Route to match', explanation: 'String, can be written as a regular expression (without opening and closing /)', placeholder: '\/old-path\/(\d+)-(\.*)'

    = f.text_field :out, required: true, label: 'Destination', explanation: 'Zero-indexed captures can be returned in {x}', placeholder: '/new-path/{0}-{1}'

    .form-label Details
    .panel.block
      = f.check_box :active

    .spacer
