.drawer-pusher
  = autosaving_form_for @post do |f|
    .toolbar
      = render 'tenon/shared/breadcrumbs'
      .toolbar__content
        .toolbar__actions.toolbar__actions--right
          - if can?(:publish, @post)
            .toolbar__action
              %button.btn.toolbar__btn.submit{ data: { disable_with: "Please wait..." } } Save

          .toolbar__action
            %a.action-icon.dropdown-button{ href: '#!', data: { activates: 'form-dropdown'} }
              = i('more_vert')

          %ul.dropdown#form-dropdown
            - if can?(:create, Tenon::ItemVersion)
              = render 'tenon/shared/draft_controls', obj: @post

            - if @post.persisted?
              %li.dropdown__divider
              %li.dropdown__item
                = link_to @post, data: { method: :delete, confirm: 'Are you sure you want to delete this?' }, class: 'dropdown__action action-icon delete-link' do
                  = i('delete')
                  %span Delete

    %main
      = error_messages_for :post

      = f.title_text_field :title, required: true

      .form-label Content
      .panel.panel--block
        = f.rich_text :excerpt, label: ''
        = f.tenon_content :content

      .form-label Publication Details
      .panel.panel--block
        - unless @categories.blank?
          = f.select :post_category_ids, @categories.map { |c| [c.title, c.id] }, { label: 'Categories' }, { multiple: true }
        .row
          .inner6
            = f.collection_select :user_id, @users, :id, :email, include_blank: "(No Author)", label: 'Author'
          .inner6.omega
            = f.date_time_picker :publish_at, label: 'Publish Date / Time'

      = render 'tenon/shared/seo_fields', f: f

      .spacer
