= autosaving_form_for @post do |f|
  .toolbar
    = render 'tenon/shared/breadcrumbs'
    .actions
      - if can?(:publish, @post)
        %button.btn.btn-primary.btn-flat.submit{ data: { disable_with: "Please wait..." } } Save

      %a.action{ href: '#' }
        %i.icon.ion-android-more-vertical
      /
        - if can?(:create, Tenon::ItemVersion)
          = save_draft_button(@post)
          .last-autosave

        = clear_draft_link if params[:version]
        = load_draft_link(@post)
        - if @post.persisted?
          = link_to 'Delete', @post, data: { method: :delete, confirm: 'Are you sure you want to delete this?' }, class: 'delete-link'

  %main
    = error_messages_for :post

    .label Write This Post
    .panel
      = f.text_field :title, required: true
      = f.rich_text :excerpt
      = f.tenon_content :content

    .label Publication Details
    .panel
      - unless @categories.blank?
        = f.select :post_category_ids, @categories.map { |c| [c.title, c.id] }, { label: 'Categories' }, { multiple: true }

      = f.collection_select :user_id, @users, :id, :email, include_blank: "(No Author)", label: 'Author'
      = f.date_time_picker :publish_at, label: 'Publish Date / Time'

    = render 'tenon/shared/seo_fields', f: f

    .spacer
