.tn-tc-row{ :style => ('display: none;' if f.object._destroy) }
  = f.hidden_field :item_method, value: field
  .tn-tc-topbar
    .actions
      %i.material-icon.reorder reorder

      = link_to '#', class: 'tn-tc-open-library above', data: { modal_target: ".tn-tc-library", modal_closest: '.tn-tc', modal_title: "Insert Content", modal_handler: 'Tenon.features.tenonContent.Library', modal_clone: 'true', tooltip: '' }, title: 'Insert Content' do
        %i.material-icon playlist_add

      = link_to_remove_association f, { 'data-confirm' => 'Are you sure?', 'data-wrapper-class' => 'tn-tc-row' } do
        %i.material-icon.delete delete

    .spacer

  .tn-tc-fields= render row_partial, f: f

  .tn-tc-bottombar
    .actions
      = link_to '#', class: 'tn-tc-open-library below', data: { modal_target: ".tn-tc-library", modal_closest: '.tn-tc', modal_title: "Insert Content", modal_handler: 'Tenon.features.tenonContent.Library', modal_clone: 'true', modal_closest: '.tn-tc', tooltip: ''}, title: 'Insert Content' do
        %i.material-icon playlist_add
