.tn-tc-row{:style => ("display: none;" if f.object._destroy)}
  = f.hidden_field :item_method, value: field
  .tn-tc-topbar
    .actions
      %i.fa.fa-arrows.drag-anchor

      = link_to '#', class: 'tn-tc-open-library above', 'data-modal-target' => '.tenon-library', 'data-modal-title' => "Insert Content", 'data-modal-handler' => 'Tenon.features.tenonContent.Library', 'data-modal-clone' => 'true', 'data-tooltip' => '', title: 'Insert Content' do
        = fa_icon('plus-circle')

      = link_to_remove_association(fa_icon('trash-o'), f, {'data-confirm' => 'Are you sure?', 'data-wrapper-class' => 'tn-tc-row'})

    .spacer

  .tn-tc-fields= render row_partial, f: f

  .tn-tc-bottombar
    .actions
      = link_to '#', class: 'tn-tc-open-library below', 'data-modal-target' => '.tenon-library', 'data-modal-title' => "Insert Content", 'data-modal-handler' => 'Tenon.features.tenonContent.Library', 'data-modal-clone' => 'true', 'data-tooltip' => '', title: 'Insert Content' do
        = fa_icon('plus-circle')
