%section
  %a.scroll-target{name: 'atom-typography'}
  %a.scroll-target{name: 'atom-typography-headings'}
  %h3.color-black Headers
  %p Includes mixins, variables and a class helpers for each.

  .panel.block
    - (1..6).each do |h|
      %p{class: "font-h#{h}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<h#{h}>The quick brown fox jumps over the lazy dog.</h#{h}>"
        %br/
        %p= "Mixin: @include font-h#{h};"
        %p= "Variables: $h#{h}-size, $h#{h}-line-height"
        %p= "Class: .font-h#{h}"

%section
  %a.scroll-target{name: 'atom-typography-paragraph'}
  %h3.color-black Paragraph
  %p Includes a mixin, a variable and a class helper.

  .panel.block
    %p The quick brown fox jumps over the lazy dog.
    %code.expandable
      = expandable_toggle
      %p= "<p>The quick brown fox jumps over the lazy dog.</p>"
      %br/
      %p= "Mixin: @include font-body;"
      %p= "Variables: $body-size, $body-line-height"
      %p= "Class: .font-body"

%section
  %a.scroll-target{name: 'atom-typography-small'}
  %h3.color-black Smaller sizes
  %p Includes a mixin, a variable and a class helper for each.

  .panel.block
    - ['small', 'smaller', 'smallest'].each do |s|
      %p{class: "font-#{s}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<p class: 'font-#{s}'>The quick brown fox jumps over the lazy dog.</p>"
        %br/
        %p= "Mixin: @include font-#{s};"
        %p= "Variables: $#{s}-size, $#{s}-line-height"
        %p= "Class: .font-#{s}"

%section
  %a.scroll-target{name: 'atom-typography-blockquote'}
  %h3.color-black Blockquote

  .panel.block
    %blockquote The quick brown fox jumps over the lazy dog.
    %code= "<blockquote>The quick brown fox jumps over the lazy dog.</blockquote>"


%section
  %a.scroll-target{name: 'atom-typography-inline'}
  %h3.color-black Inline

  .panel.block
    - ['em', 'strong', 'a href="#"'].each do |i|
      %p= "The <#{i}>quick brown fox</#{i}> jumps over the <#{i}>lazy dog.</#{i}>".html_safe
      %code= "The <#{i}>quick brown fox</#{i}> jumps over the <#{i}>lazy dog.</#{i}>"

%section
  %a.scroll-target{name: 'atom-typography-styles'}
  %h3.color-black Style class helpers
  %p Class helpers that can also @extend it in a Sass file.

  .panel.block
    - [3, 4, 7].each do |s|
      %p{class: "font-n#{s}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<p class: 'font-n#{s}'>The quick brown fox jumps over the lazy dog.</p>"
        %br/
        %p= "Sass @extend: @extend .font-n#{s};"

      %p{class: "font-i#{s}"} The quick brown fox jumps over the lazy dog.
      %code.expandable
        = expandable_toggle
        %p= "<p class: 'font-i#{s}'>The quick brown fox jumps over the lazy dog.</p>"
        %br/
        %p= "Sass @extend: @extend .font-i#{s};"
