- content_for :sidebar do
  .sidebar
    .content
      %h2= t('tenon.events.events')
      = link_to t('tenon.events.new_event'), new_event_path, class: 'btn btn-block btn-primary'

    = i18n_language_nav(:'tenon/events')

= error_messages_for :event

= autosaving_form_for @event do |f|
  .fields.large
    .form-group= f.text_field :title
    .form-group
      = f.tenon_content :description

  .fields.small
    %h4.box-label= t('tenon.events.event_details')
    .box
      .form-group.bordered= f.text_field :location, :placeholder => '--'
      .form-group.bordered
        = f.text_field :starts_at, data: {behaviour: 'datetime-picker'}, placeholder: '--'
      .form-group.bordered
        = f.text_field :ends_at, data: {behaviour: 'datetime-picker'}, placeholder: '--'

    %h4.box-label= t('tenon.events.publish_your_event')
    .box
      .form-group
        = f.text_field :publish_at, label: t('tenon.common.publish_date'), data: {behaviour: 'datetime-picker'}, placeholder: '--'

      .row.content
        - if can?(:publish, @event)
          %button.btn.btn-comp.btn-block.submit{ data: { disable_with: t('tenon.common.please_wait') } }= t('tenon.common.save')
        - if can?(:create, Tenon::ItemVersion)
          = save_draft_button(@event)
          .last-autosave

      %hr
      .content
        = clear_draft_link if params[:version]
        = load_draft_link(@event)
        - if @event.persisted?
          = link_to t('tenon.common.delete'), @event, :data => { :method => :delete, :confirm => t('tenon.common.are_you_sure') }, :class => 'delete-link'

