- content_for :sidebar do
  .sidebar
    .content
      %h2= t('tenon.events.events')
      = link_to t('tenon.events.new_event'), new_event_path, class: 'btn btn-block btn-primary'

%header
  %h1= t('tenon.events.events')

  .tools
    = render "tenon/shared/section_header/sidebar_toggle"

    .header-button
      = link_to '#', id: 'quick-search-toggle' do
        .header-icon= fa_icon('fw search')

.toolbox
  = render "tenon/shared/section_header/quick_search", record_list: '#events'

.main-content
  %ul#events.record-list{data: {role: 'records-list', records: {url: events_path(format: 'json'), template: 'tenon/templates/events/event_row', name: 'event'}}}

  = link_to t('tenon.events.load_more'), '#', :class => 'btn btn-comp infinite-loader', 'data-record-list' => '#events'
