- content_for :sidebar do
  .sidebar
    .content
      %h2 Tenon Callouts
      = link_to "New Tenon Callout", new_tenon_callout_path, class: 'btn btn-block btn-primary'

%header
  %h1 Tenon Callouts

  .tools
    = render "tenon/shared/section_header/sidebar_toggle"

    .header-button
      = link_to '#', id: 'quick-search-toggle' do
        .header-icon= fa_icon('fw search')

.toolbox
  = render "tenon/shared/section_header/quick_search", record_list: '#tenon_callouts'

.main-content
  = error_messages_for :tenon_callout
  %ul#tenon_callouts.record-list.sortable{data: {records: {url: tenon_callouts_path(format: 'json'), template: 'tenon/templates/tenon_callouts/tenon_callout_row', name: 'tenon_callout'}, :'reorder-path' => reorder_tenon_callouts_path}}
