%hr
%a.scroll-target{name: 'atoms'}

%h2 Atoms
%nav
  %ul
    %li
      = link_to 'Colors', '#atom-colors'
      %ul
        %li= link_to 'Variables', '#atom-color-variables'
        %li= link_to 'Class helpers', '#atom-color-class-helpers'
    %li
      = link_to 'Typography', '#atom-typography'
      %ul
        %li= link_to 'Headers', '#atom-typography-headings'
        %li= link_to 'Paragraph', '#atom-typography-paragraph'
        %li= link_to 'Small', '#atom-typography-small'
        %li= link_to 'Blockquote', '#atom-typography-blockquote'
        %li= link_to 'Unordered lists', '#atom-typography-ulists'
        %li= link_to 'Ordered lists', '#atom-typography-olists'
        %li= link_to 'Inline', '#atom-typography-inline'
        %li= link_to 'Style class helpers', '#atom-typography-styles'
        %li= link_to 'Variables', '#atom-typography-variables'
    %li= link_to 'Icons', '#atom-icons'
    %li
      = link_to 'Buttons', '#atom-buttons'
      %ul
        %li= link_to 'Standard', '#atom-buttons-standard'
        %li= link_to 'Flat', '#atom-buttons-flat'
        %li= link_to 'Block', '#atom-buttons-block'
        %li= link_to 'Floating Action', '#atom-buttons-fab'

    %li
      = link_to 'Forms', '#atom-forms'
      %ul
        %li= link_to 'Default', '#atom-forms-default'
        %li= link_to 'Outside Panel', '#atom-forms-outside'
        %li= link_to 'HTML5', '#atom-forms-html5'
        -# %li= link_to 'Tenon content', '#atom-forms-tenon'

= render 'tenon/styleguides/atoms/colors'
= render 'tenon/styleguides/atoms/typography'
= render 'tenon/styleguides/atoms/buttons'
= render 'tenon/styleguides/atoms/icons'
= render 'tenon/styleguides/atoms/forms'
