%main#styleguide
  %section.styleguide-index
    %h1 Styleguide

    %p A general summary and guideline for Tenon styles. Variables and styles you change will be reflected here.

    %ul
      %li= link_to 'Atoms', '#atoms'
      %li= link_to 'Molecules', '#molecules'
      %li= link_to 'Organisms', '#organisms'

  %section
    = render 'atoms'
  %section
    = render 'molecules'
  %section
    = render 'organisms'
