- content_for :sidebar do
  .sidebar
    .content
      %h2 Comments

    %h4 Filter
    %nav.list-toggles
      %ul
        %li
          = link_to(comments_path, class: 'record-list-updater') do
            All
            %span.count= @counts[:all]

        %li
          = link_to(url_for(type: 'unapproved'), class: 'record-list-updater') do
            Unapproved
            %span.count= @counts[:unapproved]

        %li
          = link_to(url_for(type: 'approved'), class: 'record-list-updater') do
            Approved
            %span.count= @counts[:approved]