- content_for :sidebar do
  #new-asset{:style => "display: none;"}= render "form", multiple: true
  .sidebar
    .content
      %h2 Asset Library
      = link_to "Upload New", '#', class: 'btn btn-primary btn-block', data: {'modal-target' => '#new-asset', 'modal-title' => 'Upload Assets', 'keyboard' => 'false' }

    %h4 File Types
    %nav.list-toggles
      %ul
        %li
          = link_to 'All Assets', assets_path, :class => 'record-list-updater', 'data-clear-record-list-params' => true

        %li
          = link_to 'Images', '?type=images', class: 'record-list-updater'

        %li
          = link_to 'Documents', '?type=documents', class: 'record-list-updater'
