- content_for :sidebar do
  #new-asset{:style => "display: none;"}= render "form", multiple: true
  .sidebar
    .content
      %h2 Asset Library
      = link_to "Upload New", '#', class: 'btn btn-info btn-block', data: {'modal-target' => '#new-asset', 'modal-title' => 'Upload Assets'}

    %h4 File Types
    %nav
      %ul
        %li.active
          = link_to('#', data: {type: ''}) do
            All Assets

        %li
          = link_to('#images', data: {type: 'images'}) do
            Images

        %li
          = link_to('#documents', data: {type: 'documents'}) do
            Documents

        %li
          = link_to('#videos', data: {type: 'videos'}) do
            Videos