.asset-cropping
  .modal-backdrop.fade.in
  .preview
    .modal-header
      %button{ type: 'button', class: 'close', data: { dismiss: 'modal' }, :'aria-hidden' => 'true' } &times;
      %h4#myModalLabel{ class: 'modal-title'}
        Crop
    .image-holder= image_tag(@asset.attachment.url, id: 'cropbox', data: { width: @asset.dimensions(:original)[0], height: @asset.dimensions(:original)[1] })

    = form_for @asset, data: {remote: true} do |f|
      - [:crop_x, :crop_y, :crop_w, :crop_h].each do |field|
        = f.hidden_field field
      .crop_buttons.right
        = f.check_box :duplicate, checked: true, class: 'tn-checkbox-left'
        = f.label :duplicate, "Create New Asset From Crop?", class: 'left'
        .right
          = f.submit "Save", class: 'btn btn-primary'
