.asset-cropping
  .modal-backdrop.fade.in
  .preview
    .modal-header
      %button{ type: 'button', class: 'close', data: { dismiss: 'modal' }, :'aria-hidden' => 'true' } &times;
      %h4#myModalLabel{ class: 'modal-title'}= t('tenon.asset.crop')
    .image-holder= image_tag(@asset.attachment.url, id: 'cropbox', data: { width: @asset.dimensions(:original)[0], height: @asset.dimensions(:original)[1] })
    .spinner= fa_icon('spinner spin')

    = form_for @asset, data: {remote: true} do |f|
      - [:crop_x, :crop_y, :crop_w, :crop_h].each do |field|
        = f.hidden_field field
      .crop_buttons.right.full
        = f.check_box :duplicate, checked: true, class: 'tn-checkbox-right'
        = f.label :duplicate, t('tenon.asset.create_new_asset_from_crop'), class: 'left'
        .right= f.submit t('tenon.common.save'), class: 'save btn btn-comp', data: { disable_with: t('tenon.common.please_wait') }
