.modal.modal--fixed-footer.modal--xlg
  .modal__content
    .asset-cropping
      = image_tag(@asset.attachment.url, id: 'cropbox', data: { width: @asset.dimensions(:original)[0], height: @asset.dimensions(:original)[1] })

      .asset-cropping__explanation
        Drag inside the image to crop

  .modal__footer
    = form_for @asset, data: { remote: true, crop_form: true } do |f|
      - [:crop_x, :crop_y, :crop_w, :crop_h].each do |field|
        = f.hidden_field field
      = f.hidden_field :duplicate, value: true

      .modal__action
        = f.submit 'Save', class: 'save btn btn-comp', data: { disable_with: 'Please wait...' }
