%header
  %h1 Asset Details
  .spacer

.main-content
  .container
    = form_for @asset, builder: Tenon::FormBuilder do |f|
      = error_messages_for :asset

      .fields.large
        .form-group
          %label Asset
          - if @asset.is_image?
            .preview= image_tag(@asset.attachment.url)
          - else
            .preview= link_to @asset.attachment.original_filename, @asset.url

      .fields.small
        %h4.box-label Versions
        .box
          .content
            - @asset.attachment.styles.each do |key, style|
              = link_to key.to_s.titleize, @asset.attachment.url(key), target: '_'
              %br/

        - unless @asset.item_assets.empty?
          %h4.box-label Attached To
          .box
            .content
              - @asset.item_assets.each do |item_asset|
                - begin # We need a better way to check if routes exist
                  = link_to "#{item_asset.item_type} ##{item_asset.item_id}", polymorphic_path([:edit, :tenon, item_asset.item])
                - rescue
                  #{item_asset.item_type} ##{item_asset.item_id}
                %br/