.three-column-image-and-text.stacked-image-and-text
  = f.hidden_field :row_type
  = f.hidden_field :list_order
  -[[0,1], [2,3], [4,5]].each do |positions|
    .four{class: cycle('', '', 'omega')}
      = f.fields_for :pieces, f.object.pieces.select { |p| positions.include?(p.position) } do |piece|
        = piece.hidden_field :piece_type
        - if piece.object.piece_type == 'Image'
          .tn-tc-piece.tn-tc-asset-field
            = render "tenon/tenon_content/piece_types/form/image", f: piece, style: 'half'
        - else
          .tn-tc-piece
            = render 'tenon/tenon_content/piece_types/form/text', f: piece
  .spacer
