- content_for :sidebar do
  .sidebar
    .content
      %h2 Banners
      = link_to "New Banner", new_banner_path, class: 'btn btn-block btn-info'

= error_messages_for :banner

= form_for @banner, builder: Tenon::FormBuilder do |f|
  .fields.large
    .form-group
      = f.text_field :title

    .form-group
      = render "tenon/shared/asset_field", f: f, asset: :file

  .fields.small
    %h4.box-label Publish
    .box
      .form-group
        = f.text_field :publish_at, label: 'Publish Date', data: {behaviour: 'datetime-picker'}, placeholder: '--'



      .content
        = f.submit 'Save', class: 'btn btn-block btn-primary'